Repository Azure/alz-terraform-accelerator, pull requests merged in 2024-01, with the labels that each got.

#80 docs: additions, updates and refactoring
  .github/workflows/end-to-end-test.yml
  bootstrap/azuredevops/main.tf
  bootstrap/azuredevops/providers.tf
  bootstrap/azuredevops/variables.tf
  bootstrap/github/main.tf
  bootstrap/github/providers.tf
  bootstrap/github/variables.tf
  docs/wiki/Frequently-Asked-Questions.md
  docs/wiki/Home.md
  docs/wiki/[User-Guide]-Advanced-Scenarios.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-1-Service-Principal.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-1.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Azure-DevOps.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-GitHub.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Local.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2.md
  docs/wiki/[User-Guide]-Starter-Module-Complete.md
  docs/wiki/[User-Guide]-Upgrade-Process.md
  docs/wiki/[User-Guide]-YAML-Schema-Reference.md
  docs/wiki/_Sidebar.md
  docs/wiki/media/components.png
  templates/complete/config.yaml
  templates/complete_vnext/config.yaml
Labels: PR: Safe to test 🧪

#81 feature: local bootstrap module
  .github/workflows/end-to-end-test.yml
  bootstrap/local/locals.tf
  bootstrap/local/locals_files.tf
  bootstrap/local/main.tf
  bootstrap/local/outputs.tf
  bootstrap/local/providers.tf
  bootstrap/local/terraform.tfvars
  bootstrap/local/variables.tf
  bootstrap/modules/azure/variables.tf
  bootstrap/modules/files/variables.tf
  docs/wiki/Home.md
  docs/wiki/[User-Guide]-Advanced-Scenarios.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-1.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Local.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-3.md
Labels: PR: Safe to test 🧪

#89 feat: add templating and custom config file to `complete`
  .github/workflows/end-to-end-test.yml
  bootstrap/.config/ALZ-Powershell.config.json
  bootstrap/azuredevops/main.tf
  bootstrap/azuredevops/variables.tf
  bootstrap/github/main.tf
  bootstrap/github/variables.tf
  bootstrap/local/main.tf
  bootstrap/local/variables.tf
  bootstrap/modules/files/main.tf
  bootstrap/modules/files/variables.tf
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Azure-DevOps.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-GitHub.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Local.md
  docs/wiki/[User-Guide]-Starter-Module-Complete.md
  templates/complete/config.yaml
  templates/complete/locals.tf
  templates/complete/main.tf
  templates/complete/variables.tf
Labels: enhancement, PR: Safe to test 🧪

#95 enhancement: add example config and input files
  bootstrap/modules/files/main.tf
  bootstrap/modules/files/variables.tf
  docs/wiki/[User-Guide]-Starter-Module-Complete.md
  docs/wiki/_Sidebar.md
  docs/wiki/examples/powershell-inputs/inputs-azure-devops.yaml
  docs/wiki/examples/powershell-inputs/inputs-github.yaml
  docs/wiki/examples/starter-module-config/complete/config-hub-spoke.yaml
  docs/wiki/examples/starter-module-config/complete/config-vwan.yaml
  docs/wiki/media/alz-terraform-acclerator.png
  docs/wiki/media/components.png
  templates/basic/terraform.tf
  templates/complete/terraform.tf
  templates/complete_vnext/terraform.tf
  templates/hubnetworking/terraform.tf
Labels: documentation, enhancement, PR: Safe to test 🧪
